<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User</title>
    <link rel="icon" href="/images/favicon.ico" type="image/png">
    <script src="/JS/ConverterFromJSON.js" defer></script>
</head>
<body>

    <header class="bg-dark text-light py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <span class="font-weight-bold h4 ml-2" id="emailHead">email</span>
                    <span class="h4" id="rolesHead"> roles</span>
                </div>
                <div class="col-auto">
                    <form th:action="@{/logout}" th:method="POST">
                        <input type="submit" class="btn text-secondary" value="logout">
                    </form>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid row">

        <div class="col-2 mt-4 p-0">
            <div class="list-group">
                <a href="/admin/" class="list-group-item list-group-item-action">Admin</a>
                <a href="/admin/user_information" class="list-group-item list-group-item-action active">User</a>
            </div>
        </div>

        <div class="container-fluid col-10 bg-light">
            <div class="row mt-4 ml-4">
                <h1>User information page</h1>
            </div>

            <div class="col card bg-white mt-2 p-0 ml-4">
                <div class="row card-header bg-light p-3 m-0">
                    <h4>About user</h4>
                </div>
                <div class="row card-body p-3 m-0">
                    <table class="table table-striped" id="authUserTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>